@{
    ViewData["Title"] = "Shopping list";
    ViewData["BodyTitle"] = "Shopping list";
}
@model List<Item>

<table class="table table-bordered table-hover">
    <thead class="thead-dark m-4">
        <tr>
            <th></th>
            <th>Item</th>
            <th>Amount</th>
            <th>Store</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Item item in Model)
        {
            <tr>
                <td>
                    <form asp-action="DelItem" method="post">
                        <input type="hidden" name="itemID" value="@item.ID" />
                        <button class="btn btn-primary" type="submit">del</button>
                    </form>
                </td>
                <td>@item.Name</td>
                <td>@item.Amount</td>
                <td>@item.Store</td>
                <td>
                    <form asp-action="SubItem" method="post">
                        <input type="hidden" name="itemID" value="@item.ID" />
                        <button class="btn btn-primary" type="submit">-</button>
                    </form>
                </td>
                <td>
                    <form asp-action="AddItem" method="post">
                        <input type="hidden" name="itemID" value="@item.ID" />
                        <button class="btn btn-primary" type="submit">+</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-outline-primary" asp-action="Index">Home</a>
</div>
